<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Debug</key>
	<dict>
		<key>parseAppId</key>
		<string></string>
		<key>parseClientKey</key>
		<string></string>
		<key>firebaseUrl</key>
		<string></string>
		<key>appseeApiKey</key>
		<string></string>
		<key>flurryApiKey</key>
		<string></string>
		<key>mixPanelApiToken</key>
		<string></string>
		<key>googleMapsApiKey</key>
		<string></string>
	</dict>
	<key>Release</key>
	<dict>
		<key>parseAppId</key>
		<string></string>
		<key>parseClientKey</key>
		<string></string>
		<key>firebaseUrl</key>
		<string></string>
		<key>appseeApiKey</key>
		<string></string>
		<key>flurryApiKey</key>
		<string></string>
		<key>mixPanelApiToken</key>
		<string></string>
		<key>googleMapsApiKey</key>
		<string></string>
	</dict>
</dict>
</plist>
