<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>8Yet?</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.1.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb689853577798029$(ENV)</string>
				<string>eightyet://</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>2.1.2.1</string>
	<key>Configuration</key>
	<string>$(CONFIGURATION)</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>9661e6905958fe956bbdbaf0df0a50ffcaa9f155</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>FacebookAppID</key>
	<string>689853577798029</string>
	<key>FacebookDisplayName</key>
	<string>8Yet</string>
	<key>FacebookUrlSchemeSuffix</key>
	<string>$(ENV)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>fbapi20130214</string>
		<string>fbapi20130410</string>
		<string>fbapi20130702</string>
		<string>fbapi20131010</string>
		<string>fbapi20131219</string>
		<string>fbapi20140410</string>
		<string>fbapi20140116</string>
		<string>fbapi20150313</string>
		<string>fbapi20150629</string>
		<string>fbauth</string>
		<string>fb-messenger-api20140430</string>
		<string>fb-messenger-platform-20150128</string>
		<string>fb-messenger-platform-20150218</string>
		<string>fb-messenger-platform-20150305</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>akamaihd.net</key>
			<dict>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>facebook.com</key>
			<dict>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>fbcdn.net</key>
			<dict>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Location is needed to find out who&apos;s hungry nearby!</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Location is needed to find out who&apos;s hungry nearby!</string>
	<key>UIAppFonts</key>
	<array>
		<string>geoslab703-lt-bt-light-italic.ttf</string>
		<string>geoslab703-lt-bt-light.ttf</string>
		<string>geoslab703-md-bt-bold-italic.ttf</string>
		<string>geoslab703-md-bt-bold.ttf</string>
		<string>geoslab703-md-bt-medium-italic.ttf</string>
		<string>geoslab703-md-bt-medium.ttf</string>
		<string>geoslab703-mdcn-bt-bold.ttf</string>
		<string>geoslab703-mdcn-bt-medium.ttf</string>
		<string>geoslab703-xbdit-bt-extra-bold-italic.ttf</string>
		<string>segoepr.ttf</string>
		<string>segoeprb.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
